<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <div th:replace="blocks/header :: header-css"/>
    <title>Сайт спеціальності 122 «Комп`ютерні науки» МК СумДУ</title>

</head>
<body>


<!--Navbar-->
<div th:replace="blocks/header :: header"> </div>

<div class="margin-3"></div>

<div class="wrapper">

    <div class="container">
        <div class="container mt-5">
            <h1>Панель адміністратора</h1>
            <hr>
            <div class="margin-3"></div>

            <header th:insert="blocks/admin_menu::admin_header"></header>
            <div class="card-body">
                <h5 class="card-title">Оберіть розділ</h5>
                <p class="card-text">Оберіть потрібний вам розділ вгорі, для продовження роботи.</p>
            </div>

        </div>
        <div class="clear"></div>
    </div>
</div>



<div th:insert="blocks/footer :: footer"></div>

</body>
</html>




