<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <div th:replace="blocks/header :: header-css"/>
    <title>Сайт спеціальності 122 «Комп`ютерні науки» МК СумДУ</title>

</head>
<body>


<!--Navbar-->
<div th:replace="blocks/header :: header"> </div>

<div class="margin-3"></div>

<div class="wrapper">

    <div class="container">
        <div class="container mt-5">
            <h1>Абітурієнтам</h1>
            <p>
            <h3>РОБОТА ПРИЙМАЛЬНОЇ КОМІСІЇ</h3>
                Для вступників на базі 9 класів<br>
                Прийом документів здійснюється з 01 по 13  липня 2019 року.<br>
                Перелік документів для  вступу:<br>
                документ, що посвідчує особу (у тому числі паспорт України у формі ID-картки по досягненню 14-річного віку) – оригінал та якісна копія;<br>
                документ про освіту і додаток до нього (оригінал та якісна копія);<br>
                ідентифікаційний код (якісна копія);<br>
                4 кольорові фотокартки розміром 3х4;<br>
                документи, що дають право на пільги;<br>
                медичну довідку форми 086-1/о із зазначенням групи для занять фізичною культурою.<br>
                Закінчення прийому документів 13 липня о 18-00.<br>
                Вступні іспити проводяться з 14 до 21 липня за розкладом, що затверджується приймальною комісією.<br>
                Зарахування вступників денної форми навчання здійснюється за рейтингом (бали за вступні іспити + середній бал свідоцтва за 9 класів + додаткові бали за підготовчі курси (на технічні спеціальності)).<br>

            </p>
        </div>
        <div class="clear"></div>
    </div>
</div>



<div th:insert="blocks/footer :: footer"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>




