<div th:fragment="admin_header" class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/admin">Адмін-панель</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/news-admin">Новини</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/educators-admin">Викладачі</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/methodicals-admin">Методичні матеріали</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/services-admin">Сервіси</a>
        </li>
    </ul>
</div>