<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/styles/style.css}" href="../../static/styles/style.css" />
    </div>
</head>
<body>
<div th:fragment="header">

    <!-- Brand -->

    <nav class="navbar navbar-expand-md" >
            <a class="navbar-brand" href="/">
                <img th:src="@{/images/comp_science.png}" class="logo_image_mc" width="50">
            </a>
            <h5 class="my-0 mr-md-auto font-weight-normal"> Спеціальність 122 "Комп'ютерні науки" Машинобудівного фахового коледжу СумДУ</h5>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                Меню
            </button>


        <div class="collapse navbar-collapse justify-content-end w-100" id="collapsibleNavbar">
            <ul class="nav nav-pills ">
                <li class="nav-item">
                    <a class="nav-link" href="/">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">Новини</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Про спеціальність</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/teachers">Наші викладачі</a>
                        <a class="dropdown-item" href="/students">Списки груп</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/virtualTour">Екскурсія</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Навчання</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/methodicals">Методичні матеріали</a>
                        <a class="dropdown-item" href="/services">Сервіси дистанційного навчання</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/abiturientam">Абітурієнтам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Контакти</a>
                </li>
            </ul>
        </div>
        <script>
            $(document).ready(function(){
                var location = window.location.href;
                var cur_url = '/' + location.split('/').pop();
                console.log(location);
                $('a').each(function(){
                    console.log($(this).attr('href'));
                    if(cur_url == $(this).attr('href')){
                        console.log('yes');
                        $(this).addClass('active');
                    }
                });
            })
        </script>

    </nav>


</div>

</body>
</html>



